[user]
    name = Akop Kesheshyan

[include]
    path = ~/.gitconfig.local

[includeIf "hasconfig:remote.*.url:https://github.com/**"]
    path = ~/.gitconfig.public

[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
    path = ~/.gitconfig.public

[log]
    date = local

[tag]
    sort = version:refname

[init]
    defaultBranch = main

[diff]
    tool = nvim
    algorithm = histogram

[merge]
    tool = nvim

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[mergetool "nvim"]
    cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[mergetool]
    keepBackup = false
    prompt = false

[core]
    editor = nvim
    excludesfile = ~/.dotfiles/git/.gitignore

[pager]
    diff = delta
    log = delta
    reflog = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = diff-so-fancy
    line-numbers = true
    line-numbers-left-style = "#817c9c"
    line-numbers-right-style = "#817c9c"
    file-style = omit
    hunk-header-decoration-style = "#817c9c" box
    hunk-header-file-style = "#c4a7e7"
    hunk-header-style = file line-number syntax
    hunk-header-line-number-style = "#78ccc5"
    line-numbers-left-style = "#817c9c"
    line-numbers-right-style = "#817c9c"
    line-numbers-minus-style = "#c75c6a"
    line-numbers-plus-style = "#78ccc5"
    line-numbers-zero-style = "#59546d"
    dark = true

[delta "interactive"]
    keep-plus-minus-markers = false

[credential]
    helper = store
