[user]
    name = Akop Kesheshyan
    email = hello@akop.dev

[diff]
    tool = nvim

[merge]
    tool = nvim

[mergetool "nvim"]
    cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[mergetool]
    keepBackup = false
    prompt = false

[core]
    editor = nvim
    excludesfile = $ZSH/git/.gitignore

[pager]
    diff = delta
    log = delta
    reflog = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = diff-so-fancy
    line-numbers = true
    line-numbers-left-style = "#817c9c"
    line-numbers-right-style = "#817c9c"
    file-style = omit
    hunk-header-decoration-style = "#817c9c" box
    hunk-header-file-style = "#c4a7e7"
    hunk-header-style = file line-number syntax
    hunk-header-line-number-style = "#78ccc5"
    line-numbers-left-style = "#817c9c"
    line-numbers-right-style = "#817c9c"
    line-numbers-minus-style = "#c75c6a"
    line-numbers-plus-style = "#78ccc5"
    line-numbers-zero-style = "#59546d"
    dark = true

[delta "interactive"]
    keep-plus-minus-markers = false

